body {
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    color: #1d114f;
}

:root {
    --font-color: gray;
    --primary-color: #7c01eb;
    --main-border-radious: 1rem;
    --large-font: 2.5rem;
}

.card-container {
    display: grid;
    width: 80vm;
    height: 120vh;
    grid-template: repeat(2, auto) / auto;
    margin: 0 0 60px 0;
    justify-content: center;
    align-content: center;
}

.card_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 100px 0 120px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header h1 {
    margin: 0;
    font-weight: bolder;
    font-size: var(--large-font);
}

.rang-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-items: center;
    margin-top: 30px;

}

.rang-slider input {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;

}

.rang-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #664aff;
    border-radius: 50%;
    border: 1px solid #7c01eb;
    cursor: pointer;
}

.rang-slider input::-moz-range-progress {
    background-color: #7c01eb;
}

.rang-slider input::-webkit-slider-container {
    background-color: #7c01eb;
}

.btn {
    position: relative;
    height: 56px;

}

.btn input {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    appearance: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: 1px 4px 11px #7c01eb;

}

.btn input:before,
.btn input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #111;
}

.btn input:before {
    content: "Monthly";
    left: 40px;
}

.btn input:after {
    content: "Yearly";
    right: 40px;
}

.btn label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
}

.btn.btn-switch input {
    transition: 0.2s -0.1s;
}

.btn.btn-switch input:checked {
    background: #fff;

}

.btn.btn-switch input:checked:before {
    color: #111;
    transition: color 0.5s 0.2s;
}

.btn.btn-switch input:checked:after {
    color: #111;
    transition: color 0.5s;
}

.btn.btn-switch input:checked + label {
    left: 10px;
    right: 100px;
    background: #7c01eb;
    transition: left 0.5s, right 0.4s 0.2s;
}

.btn.btn-switch input:not(:checked) {
    background: #7c01eb;
    transition: background 0.5s -0.1s;
}

.btn.btn-switch input:not(:checked):before {
    color: #111;
    transition: color 0.5s;
}


.btn.btn-switch input:not(:checked):after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}

.btn.btn-switch input:not(:checked) + label {
    left: 100px;
    right: 10px;
    background: #fff;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}

.card_body {
    display: grid;
    grid-template: 500px / repeat(4, 300px);
    grid-template-areas: "onePlan twoPlan threePlan fourPlan";
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    column-gap: 10px;
    color: var(--font-color);
    cursor: pointer;
}

.card_body p {
    font-size: 1.1rem;
}

.card_body span {
    font-size: 1rem;
    color: gray;
    font-weight: lighter;
}

.card_body ul {
    list-style-image: url("img/check-gray.png");
    line-height: 2.5rem;
    color: #1d114f;
    font-size: 1rem;
}

.card_body button {
    margin: 30px 0 30px 0;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 12px 40px;
    color: #961acc;
    font-weight: bold;
    width: 90%;
    cursor: pointer;

}

.card_body button:hover {
    background-color: #7c01eb !important;
    color: #ff80ab !important;
    transition: background-color 1s, color 2s;
}

.one-plan {
    padding-left: 25px;
    grid-area: onePlan;
    border: 0 solid var(--primary-color);
    border-radius: var(--main-border-radious);
}

.two-plan {
    padding-left: 25px;
    grid-area: twoPlan;
    border: 0 solid var(--primary-color);
    border-radius: var(--main-border-radious);
}

.three-plan {
    padding-left: 25px;
    grid-area: threePlan;
    border: 0 solid var(--primary-color);
    border-radius: var(--main-border-radious);
}

.four-plan {
    padding-left: 25px;
    grid-area: fourPlan;
    border: 0 solid var(--primary-color);
    border-radius: var(--main-border-radious);
}

.three-plan {
    background-color: var(--primary-color);
    color: #fdd3cb;
    font-weight: bold;
    transition: background-color 1s, color 1s;
}


.three-plan span,
.three-plan h1,
.three-plan h3,
.three-plan ul {
    font-weight: bold;
    color: #fdd3cb;
    transition: color 1s;
}

.three-plan ul {
    list-style-image: url("img/check-pink.png");
    transition: color 1s;
}

.three-plan button {
    font-weight: bold;
    color: var(--primary-color);
    background-color: #fdd3cb;
    transition: background-color 1s, color 1s;
}

.one-plan:hover,
.two-plan:hover,
.three-plan:hover,
.four-plan:hover {
    box-shadow: 1px 4px 11px #7c01eb;
    border: 1px solid #7c01eb;
    transition: 1.2s;
}

@media screen and (max-width: 700px) and (max-width: 900px) {
    .card_body {
        display: block;
    }

    .card-container {
        display: block;
    }

    .main-header {
        flex-direction: column;
    }

    .main-header h1 {
        font-size: 1.5rem;
    }

    .btn {
        margin-top: 1.8rem;
    }
}
